<p-toolbar>
    <div class="ui-toolbar-group-left">
        <a routerLink="home"><img src="../../assets/img/logo.png" alt="" width="50px"></a>
        
    </div>
    
    <div class="ui-toolbar-group-right">
        <a routerLink="/home">Home</a>&nbsp;
        <a routerLink="/login">login</a>&nbsp;
        <a routerLink="/register">register</a>&nbsp;
        <a routerLink="/stock">stock</a>
        <!-- <a href="home">Home</a>&nbsp;
        <a href="login">login</a>&nbsp;
        <a href="http://">image</a> -->
    </div>
</p-toolbar>