<!-- <div *ngFor="let item of member">
    <p>
        {{item?.member_id}}
        {{item?.member_name}}
        {{item?.member_idcard}}
    </p>

</div> -->
<p-table #dt [value]="member" dataKey="id">
    <ng-template pTemplate="header">
        <tr>
            <th>รหัสพนักงาน</th>
            <th>ชื่อ-นามสกุล</th>
            <th>เลขบัตรประจำตัวประชาชน</th>
           <th>ที่อยู่</th>
            <th>ว/ด/ปีเกิด</th>
            <th>เงินเดือน</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-customer>
        <tr>
            
            <td>
                <span class="image-text">{{customer.member_id}}</span>
            </td>
            <td>
                <span class="image-text">{{customer.member_name}}</span>
            </td>
            <td>
                <span class="image-text">{{customer.member_idcard}}</span>
            </td>
            <td>
                <span class="image-text">{{customer.member_address}}</span>
            </td>
            <td>
                {{customer.member_date}}
            </td>
            <td>
                <span class="image-text">{{customer.member_salary}}</span>
            </td>
        </tr>
    </ng-template>
</p-table>