<br><br><br>
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header text-center text-white bg-dark">
                เข้าสู่ระบบ
            </div>
            <div class="card-body">
                <form [formGroup]="control" (ngSubmit)="login(control.value)">

                    <div class=" form-group row ">
                        <label class="col-sm-3 col-form-label ">Username</label>
                        <div class="col-sm-9 ">
                            <input type="text " class="form-control " formControlName="username"><br>
                        </div>
                    </div>

                    <div class="form-group row ">
                        <label class="col-sm-3 col-form-label ">Password</label>
                        <div class="col-sm-9 ">
                            <input type="password " class="form-control " formControlName="password">
                        </div>
                    </div>

                    <div class="row ">
                        <div class="col-6 text-left ">

                        </div>
                        <div class="col-6 text-right ">
                            <button type="submit " class="btn btn-primary ">เข้าสู่ระบบ</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>